name: Generate Snake

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: paman7647
          outputs: |
            dist/github-contribution-grid-snake.svg

      - uses: EndBug/add-and-commit@v9
        with:
          message: "engine: update contribution snake"
          add: "dist/*.svg"
